/**************************************************/
/*  CSS Styling for the MultiLab POD/LOD/ICC app  */
/**************************************************/

.modal-title {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 28px !important;
  font-weight: bold !important;
}

.modal-body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 20px !important;
}

.modal-dismiss {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 22px !important;
  color: black;
}

button {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 1em;
}

h1 {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 24px;
  font-weight: bold;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

caption {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: #555555;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

::placeholder {
  color: #555555 !important;
}

.shiny-validation-message {
  font-size: 18px;
  color: #990000 !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

/* https://www.w3.org/WAI/WCAG21/Techniques/css/C40 */
*:focus {
	/* inner indicator */
	outline: 2px #193146 solid !important;
	outline-offset: 0 !important;
	/* outer indicator */
	box-shadow: 0 0 0 4px #F9F9F9 !important;
}

span:has(> #upload_file-upload_data:focus) {
	/* inner indicator */
	outline: 3px #F9F9F9 solid !important;
	outline-offset: 0 !important;
	/* outer indicator */
	box-shadow: 0 0 0 5px #193146!important;
}

.navbar {
  background-color: #005f9f !important;
}

.sidebar-toggle {
  font-size: 1.5em !important;
}

/******************************************************************************/
/*------------------------------  Sidebar  -----------------------------------*/
/******************************************************************************/

.sidebar a {
  color: white !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

.sidebar-menu > li {
  margin: 8px !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

.sidebar-menu > li.active > a {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: black !important;
  background: #ecf0f5 !important;
  border-left-color: white !important;
}

.logo {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  background-color: #005f9f !important;
}

.sidebar-menu {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 18px;
}

.sidebar-select {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 18px;
  width: 70% !important;
}

select {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 18px !important;
}

select option {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 18px !important;
}

#app_info {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 18px;
  margin: auto;
  white-space: normal;
  text-align: center;
}

#mail_to {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  font-size: 18px;
  font-style: italic;
  margin: auto;
  white-space: normal;
  text-align: center;
  padding: 5px;
}

.email-link {
  text-decoration: underline;
}


/******************************************************************************/
/*------------------------------  Calculator tab  ----------------------------*/
/******************************************************************************/

/*-------------------------  Progress bar & alerts  --------------------------*/

/*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
#shiny-notification-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 24px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  width: 100% !important;
  max-width: 600px !important;
}

.shiny-notification {
  opacity: 1 !important;
}

.progress {
  height: 25px !important;
}

.progress-bar {
  font-size: 20px;
  line-height: 25px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  min-height: 25px;
}

.creating-report {
  font-size: 20px;
  color: black;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}


/*-----------  Choose data entry method (dataChoicesInput() module)  ---------*/

#choose_data_entry-radio_group-label {
  font-size: 24px;
}

.radio-inline {
  font-size: 20px;
}


/*----------------------------  Manual data entry ----------------------------*/

#manual_data_panel {
  margin: 0px;
}

/* experimentDescriptionInput() module */
.description-title {
  color: black;
  font-size: 28px;
  font-weight: bold;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.experiment-description {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
  background: midnightblue;
  padding: 30px !important;
}
.experiment-description > div.row > div {
  padding: 15px !important;
}
.experiment-description .experiment-description-inner {
  min-width: 275px;
}
.experiment-description .inside-panel {
  background: #70c6ff;
  margin: 0px !important;
}
.experiment-description .inside-panel label {
  color: black;
  font-size: 20px;
}
.experiment-description .inside-panel .form-control {
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
}


/* labLevelInput() module */
.lab-well {
  color: black;
  font-size: 22px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background: steelblue;
  border-color: black;
  border-width: 3px;
}

.lab-name > label {
  color: black;
  font-size: 20px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  float: left;
  font-weight: normal;
  padding-right: 10px;
}

.lab-name > input {
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: white;
  width: 50%;
  min-width: 250px;
}

.lab-well-column-names {
  color: black;
  font-size: 20px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  line-height: 1.1;
  display: block;
  padding-bottom: 3px;
}

.lab-well-inner {
  background: #70c6ff;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 275px;
}

.lab-well-inner-data > label {
  float: left;
}

.lab-well-inner-data input {
  background-color: white;
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
}

.fill-labs {
  display: block;
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: #dddddd;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 3px #555555;
}

/*------------------------------  File upload  -------------------------------*/

.download-template {
  font-size: 20px;
  color: black;
  margin-bottom: 25px;
  margin-top: 25px;
}

.template-link {
  text-decoration: underline;
  color: #005f9f;
}

#upload_file-upload_data-label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-browse {
  font-size: 22px;
  color: white;
}
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
  
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: 0px;
  border: none;
  border-radius: 6px;
  background-color: #555555;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  margin: 4px;
  padding: 22px;
  color: #273746;
  font-size: 20px;
  opacity: 1;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.uploaded_data_preview_div {
  overflow-x: auto !important;
}


/*-----------------------------  Example data  -------------------------------*/

#example_data_div {
  overflow-x: auto !important;
}

.table {
  font-size: 18px;
}


/*-----------  LOD Units, Calculate button, & Notes/Instructions -------------*/

#calculate-lod_unit-label, #calculate-observed_unit-label {
  font-size: 22px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

#calculate-observed_unit {
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
}

.form-group.has-error label {
  color: #d12212 !important;
}

.calculate-button {
  color: black !important;
  font-size: 26px !important;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #199560;
  box-shadow: 5px 5px 8px #555555;
  margin: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.notes-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
}

.notes-body {
  font-size: 18px;
  line-height: 1.1;
}

.notes-subheading {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 5px;
}

.notes-li {
  margin-top: 5px;
  margin-bottom: 5px;
}


/******************************************************************************/
/*------------------------------  Results tab  -------------------------------*/
/******************************************************************************/

a[role=tab] {
  color: #005f9f;
}

.download-results {
  color: black !important;
  font-size: 24px !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  background-color: #dddddd !important;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 5px 5px 8px #555555;
}

.download-results.disabled {
  opacity: 0.5;
}

span.help-text {
  color: #2d2d2d !important;
  font-size: 18px !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  margin: 10px;
}

#mod {
  font-size: 24px;
  margin-bottom: 20px;
}

.results-title {
  font-size: 22px;
  line-height: 1.1;
}

.parameter-estimates-clear, .lod-estimates-clear {
  font-size: 60%;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: white;
}

.parameter-estimates-description {
  font-size: 55%;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: white;
}

.parameter-estimates-value {
  font-size: 150%;
  font-weight: bold;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: white;
}

.lod-estimates-description {
  font-size: 60%;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: white;
}

.lod-estimates-value {
  font-size: 150%;
  font-weight: bold;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  color: white;
}

#log_mean_effect, #se_log_mean_effect, #sigma, #ICC, #LOD, #LOD_LCL, #LOD_UCL {
  min-width: 300px !important;
}

.warning {
  font-size: 22px;
  color: #a94442;
}

.warning ::marker {
  font-size: 22px;
}

#POD_plots_div {
  overflow-x: auto !important;
}

#POD_plots {
  min-width: 800px !important;
}


/******************************************************************************/
/*-------------------  Analysis Details & References tabs  -------------------*/
/******************************************************************************/

.analysis-body {
  font-size: 20px;
  line-height: 1.25;
}

.references-body {
  font-size: 20px;
  line-height: 1.25;
}
