/**************************************************/
/*  CSS Styling for the MultiLab POD/LOD/ICC app  */
/**************************************************/


.sidebar-menu {
  font-size: 18px;
}

#lod_choice-label, #conf_level-label {
  font-size: 18px;
}

#mail_to {
  font-size: 18px;
  font-style: italic;
  margin: auto;
  white-space: normal;
  text-align: center;
  padding: 5px;
}

.email-link {
  text-decoration: underline;
}

#experiment_description {
  color:white; background:midnightblue; border-color:black; border-width:3px
}

/*typed text font & background*/
#exp_name, #exp_date, #matrix, #microorganism, #num_labs, #num_levels, #sample_size {
  background-color: white;
  color: black;
  font-size: 18px;
  text-align: center;
}

/*placeholder fonts*/
#exp_name::placeholder, #exp_date::placeholder, #matrix::placeholder,
  #microorganism::placeholder, #sample_size::placeholder {
    color: dimgrey;
    font-size: 18px;
    text-align: center;
  }

#exp_description_left, #exp_description_right {
  color: white;
  background: steelblue;
}


#exp_name-label, #exp_date-label, #matrix-label, #microorganism-label,
  #num_labs-label, #num_levels-label, #sample_size-label, #lod_unit-label {
    font-size: 20px;
  }

.use_example_text {
  font-size: 20px;
  line-height: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.fa-circle {
  color: "#003152";
}

.fill-labs {
  color: white;
  background-color: grey;
  border-color: black;
  margin-top: 20px;
}

.notes-title {
  font-size: 22px;
  line-height: 1.1;
}

.notes-body {
  font-size: 18px;
  line-height: 1.1;
}

#mod {
  font-size: 24px;
}

.results-title {
  font-size: 22px;
  line-height: 1.1;
}

.analysis-body {
  font-size: 20px;
  line-height: 1.25;
}

.references-body {
  font-size: 20px;
  line-height: 1.25;
}

.table {
  font-size: 16px;
}

.parameter-estimates-clear, .lod-estimates-clear {
  font-size: 60%;
  font-family: Courier;
  color: white;
}

.parameter-estimates-description {
  font-size: 55%;
  font-family: Courier;
  color: white;
}

.parameter-estimates-value {
  font-size: 150%;
  font-weight: bold;
  font-family: Courier;
  color: white;
}

.lod-estimates-description {
  font-size: 60%;
  font-family: Courier;
  color: white;
}

.lod-estimates-value {
  font-size: 150%;
  font-weight: bold;
  font-family: Courier;
  color: white;
}

.warning {
  font-size: 150%;
  color: red;
}

.lab-well {
  color: white;
  font-size: 22px;
  background: steelblue;
  border-color: black;
  border-width: 3px;
}

.lab-well-top > input {
  background-color: white;
  color: black;
  font-size: 18px;
}

.lab-well-inner {
  background: lightblue;
  border-width: 0px;
  margin-bottom: 0px;
}

.lab-well-inner-data > .input-group > input {
  background-color: white;
  color: black;
  font-size: 18px;
}

.progress-group {
  font-size: 22px;
}

.progress, .progress-bar {
  font-size: 20px;
  height: 20px;
}

.creating-report {
  font-size: 20px;
  color: black;
}

.alert-text {
  font-size: 20px;
  color: black;
}

#swal2-content {
  font-size: 20px;
}
