/**************************************************/
/*  CSS Styling for the MultiLab POD/LOD/ICC app  */
/**************************************************/

/*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
#shiny-notification-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

::placeholder {
  color: #555555 !important;
}

.shiny-validation-message {
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/******************************************************************************/
/*------------------------------  Sidebar  -----------------------------------*/
/******************************************************************************/

.sidebar-menu {
  font-size: 18px;
}

.sidebar-select {
  font-size: 18px;
  width: 70% !important;
}

#mail_to {
  font-size: 18px;
  font-style: italic;
  margin: auto;
  white-space: normal;
  text-align: center;
  padding: 5px;
}

.email-link {
  text-decoration: underline;
}


/******************************************************************************/
/*------------------------------  Calculator tab  ----------------------------*/
/******************************************************************************/

/*-------------------------  Progress bar & alerts  --------------------------*/

.progress-group {
  font-size: 22px;
}

.progress, .progress-bar {
  font-size: 20px;
  height: 20px;
}

#progress_alert-title {
  font-size: 24px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.creating-report {
  font-size: 20px;
  color: black;
}

.alert-text {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 20px;
  color: black;
  text-align: left;
}

.alert-text ::marker {
  font-size: 150%;
}


/*-----------  Choose data entry method (dataChoicesInput() module)  ---------*/

.data-choices-label {
  font-size: 24px !important;
}

button.btn-data-choices-button {
  border-style: solid;
  border-color: grey;
  border-width: medium;
  border-radius: 5px;
}

button.btn-data-choices-button.focus {
  border-color: #70c6ff;
  border-width: medium;
  box-shadow: 0px 0px 1px 1px #70c6ff;
}

button.btn-data-choices-button.active {
  border-color: black;
  border-width: medium;
  box-shadow: 0px 0px 1px 1px #555555;
}

button.btn-data-choices-button {
  font-size: 20px !important;
  color: black !important;
}

button.btn-data-choices-button.active {
  font-size: 22px !important;
}


/*----------------------------  Manual data entry ----------------------------*/

#manual_data_panel {
  margin: 0px;
}

/* experimentDescriptionInput() module */
.description-title {
  color: black;
  font-size: 28px;
  font-weight: bold;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.experiment-description {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
  background: midnightblue;
  padding: 30px !important;
}
.experiment-description > div.row > div {
  padding: 15px !important;
}
.experiment-description .experiment-description-inner {
  min-width: 275px;
}
.experiment-description .inside-panel {
  background: #70c6ff;
  margin: 0px !important;
}
.experiment-description .inside-panel label {
  color: black;
  font-size: 20px;
}
.experiment-description .inside-panel .form-control {
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
}


/* labLevelInput() module */
.lab-well {
  color: black;
  font-size: 22px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background: steelblue;
  border-color: black;
  border-width: 3px;
}

.lab-name > label {
  color: black;
  font-size: 20px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  float: left;
  font-weight: normal;
  padding-right: 10px;
}

.lab-name > input {
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: white;
  width: 50%;
  min-width: 250px;
}

.lab-well-column-names {
  color: black;
  font-size: 20px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  line-height: 1.1;
  display: block;
  padding-bottom: 3px;
}

.lab-well-inner {
  background: #70c6ff;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 275px;
}

.lab-well-inner-data > label {
  float: left;
}

.lab-well-inner-data input {
  background-color: white;
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: center;
}

.fill-labs {
  display: block;
  color: black;
  font-size: 18px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: #dddddd;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 3px #555555;
}


/*------------------------------  File upload  -------------------------------*/

.download-template {
  font-size: 20px;
  color: black;
  margin-bottom: 25px;
  margin-top: 25px;
}

.template-link {
  text-decoration: underline;
}

#upload_file-upload_data-label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-browse {
  font-size: 22px;
  color: black;
}
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: 0px;
  border: 3px solid black;
  border-radius: 6px;

  box-shadow: 0px 0px 5px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  margin: 4px;
  padding: 22px;
  color: #273746;
  font-size: 20px;
  opacity: 1;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/*-----------------------------  Example data  -------------------------------*/

.table {
  font-size: 18px;
}


/*-----------  LOD Units, Calculate button, & Notes/Instructions -------------*/

.lod-unit-buttons {
  font-size: 22px;
}

.lod-unit-buttons button {
  font-size: 20px !important;
}

.fa-circle {
  color: #003152;  /* also data entry method */
}

.calculate-button {
  color: black !important;
  font-size: 26px !important;
  font-weight: bold;
  border: 3px solid black;
  box-shadow: 5px 5px 8px #555555;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 300px;
}

button.action-button.bttn.bttn-gradient.bttn-lg.bttn-success:active {
  transform: translate(6px, 6px);
}

.notes-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
}

.notes-body {
  font-size: 18px;
  line-height: 1.1;
}

.notes-subheading {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 5px;
}

.notes-li {
  margin-top: 5px;
  margin-bottom: 5px;
}


/******************************************************************************/
/*------------------------------  Results tab  -------------------------------*/
/******************************************************************************/

.download-results {
  color: black !important;
  font-size: 24px !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  background-color: #dddddd !important;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 5px 5px 8px #555555;
}

.download-results.disabled {
  opacity: 0.5;
}

#mod {
  font-size: 24px;
  margin-bottom: 20px;
}

.results-title {
  font-size: 22px;
  line-height: 1.1;
}

.parameter-estimates-clear, .lod-estimates-clear {
  font-size: 60%;
  font-family: Courier;
  color: white;
}

.parameter-estimates-description {
  font-size: 55%;
  font-family: Courier;
  color: white;
}

.parameter-estimates-value {
  font-size: 150%;
  font-weight: bold;
  font-family: Courier;
  color: white;
}

.lod-estimates-description {
  font-size: 60%;
  font-family: Courier;
  color: white;
}

.lod-estimates-value {
  font-size: 150%;
  font-weight: bold;
  font-family: Courier;
  color: white;
}

.warning {
  font-size: 150%;
  color: red;
}

.warning ::marker {
  font-size: 150%;
}


/******************************************************************************/
/*-------------------  Analysis Details & References tabs  -------------------*/
/******************************************************************************/

.analysis-body {
  font-size: 20px;
  line-height: 1.25;
}

.references-body {
  font-size: 20px;
  line-height: 1.25;
}
